# ignoring CMake artifacts
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/

# ignoring vscode artifacts
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# ignoring rust artifacts
debug/
target/
**/*.rs.bk
*.pdb

# ignoring python artifacts
__pycache__/

# ignoring deprecated code
[DEPRECATED]code/